.container{
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    width: 100%;
    .form-group{
        
        .select-inspection{
            background-color: var(--ion-color-primary);
            color: #fff;
            margin: 2%;

            width: 90%;
            height: 57px;

            margin: 2%;
            margin-left: 5%;
            outline: none;
            
            border-radius: 10px;
            
        }

        .gps{
            background-color: var(--ion-color-secondary);
            margin: 2%;

            color: var(--ion-color-light);
            width: 90%;
            height: 57px;

            margin: 2%;
            margin-left: 5%;
            outline: none;
            border: solid 1px;
            border-color: #CED4DA;
            border-radius: 10px;
        }
        .form-control{
            margin: 2%;

            
            background-color: #fff;
            width: 90%;
            height: 57px;

            margin: 2%;
            margin-left: 5%;
            outline: none;
            border: solid 1px;
            border-color: #CED4DA;
            border-radius: 10px;
        }
        .form-control:active{
            border: none;
            outline: none;
        }

        .toggle-btn{
            margin: 2%;
            margin-left: 5%;

            height: 24px;
        }
        .toggle-container{
            display: flex;
            flex-direction: row;
        
            justify-content: start;
            align-items: center;
            
        }
    }
        
    
}

ion-footer{
    ion-toolbar{
        display: flex;
        flex-direction: column;
    
        justify-content: center;
        align-items: center;
       
    }
    ion-icon{
        margin: 0;
    }
    
    .price{
        font-style: normal;
        font-weight: 600;
        font-size: 20px;

        margin: 0 0 0 5%;
    }
      
      .select-custom{
        background-color: #fff;
        color: var(--ion-color-primary);
        margin: 5%;
    
        width: 45%;
    
        border: none;
        margin: 2%;
        margin-left: 5%;
        outline: none;
        
        border-radius: 10px;
        
    }

  
    
}
.pay-area{
    display: flex;
    flex-direction: row;
    
    justify-content: center ;
    align-items: center;

    margin: 5%;
}
.btn-submit{

    background-color: var(--ion-color-dark);
    font-size: 14px;
    border-radius: 5px;
    height: 57px;

    width: 100%;
    margin: 2%;
    color: var(--ion-color-light);

    border: solid 1px;
    border-color: var(--ion-color-dark);
    border-radius: 10px;
    outline: none;
    transition: all 0.25s ease;
    h4{
        font-style: normal;
        font-weight: 400;
        font-size: 20px;

    }
        

}
.btn-style {
    background-color: var(--ion-color-light);
    font-size: 14px;
    border-radius: 10px;

    height: 54px;
    width: 90%;
    line-height: 19px;
    margin: 2%;
    color: var(--ion-color-primary);

    border: solid 1px;
    border-color: var(--ion-color-primary);
    outline: none;
    transition: all 0.25s ease;
  }

  .btn-style:hover {
    background-color: var(--ion-color-secondary);
    font-size: 14px;
    border-radius: 10px;
    height: 54px;
 
    color: var(--ion-color-light);

    border: solid 1px;
    border-color: var(--ion-color-secondary);
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    
  }
  .btn-style:focus {
    background-color: var(--ion-color-secondary);
    font-size: 14px;
    border-radius: 10px;

    color: var(--ion-color-light);

    border: solid 1px;
    border-color: var(--ion-color-secondary);
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    
  }

ion-datetime{
    --background: var(--ion-color-light);
}

ion-footer{
    --border-radius: 10px 10px 0 0;
}
.w-90{
    width: 90%;
}

