<ion-header color="light" class="ion-no-border">
  <ion-toolbar color="light" class="ion-no-border"  >
    <ion-buttons slot="start" routerLink="/new-inspection" class="ion-no-border">
      <ion-icon class="ion-no-border" color="primary"size="large" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center"> 
      Selecione o período
    </ion-title>

  </ion-toolbar>
</ion-header>
  
<ion-content color="light">
  <div class="container">
    <ion-datetime color="secondary" presentation="date"locale="pt-BR"></ion-datetime>
  </div>
  <div class="container w-90">
    <div class="time w-100">
      <button class="btn btn-style shadow-none">Manhã</button>
      <input type="checkbox" style="display: none;"/>
    </div>
    <div class="time w-100">
      <button class="btn btn-style shadow-none">Tarde</button>
    </div>
    <div class="time w-100">
      <button class="btn btn-style shadow-none">Noite</button>
    </div>
  </div>
  <div class="container ion-text-center">
    <ion-text color="secondary">Iremos buscar profissionais que atendam no período selecionado</ion-text>
  </div>
 
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-no-border ion-text-center" >
    <div class="pay-area">

        <ion-icon slot="start" size="large" name="card-outline"></ion-icon>
        <select class="select-custom">
          <option value="">mastercard 1941</option>
        </select>
        <ion-text slot="end" class="price">R$ 500,00</ion-text>

    </div>
    <div class="pay-area">
      <ion-text style="font-size: 13px;"> Outras taxas podem ser solicitadas</ion-text>
    </div>
    <div class="pay-area">  
        <button color="primary" class="form-control ion-text-center shadow-none btn btn-submit" routerLink="/f-request"> 
          <ion-label><h4>Realizar Solicitação</h4></ion-label>
        </button>
    </div>
  </ion-toolbar>
  <ion-progress-bar color="secondary" value="0.66" type="determinate"></ion-progress-bar>
</ion-footer>