#mapId {
    width: 100%;
    height: 100%;
}
.container-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 99999;
    width:100%;
}

ion-item{   
    margin: 5%;
    width: 90%;
    

    border-radius: 10px;
    ion-avatar{

        width: 66px;
        height: 66px;
    }
        
    ion-label{


        h1{
            color: var(--ion-color-light);

            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;

            
        }
        p{
            color: var(--ion-color-light);

            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;

           
        }
        request-profile{
            display: flex;
            flex-direction: row;
        
            justify-content: center;
            align-items: center;

            a{
                color: var(--ion-color-secondary);

                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;

                margin: 7px;
            }
        }   
        
        
    }

}