<ion-header>
 
</ion-header>

<ion-content>
 
    <div class="container-profile" style="background-color: transparent;">
      <div class="d-flex flex-row justify-content-start w-100" style="margin: 5%; background-color: transparent!important;">
        <ion-buttons slot="start" routerLink="/f-request" class="ion-no-border">
          <ion-icon class="ion-no-border" color="primary"size="large" name="arrow-back-outline"></ion-icon>
        </ion-buttons>
        <ion-title class="ion-text-center"> 
          Nome da Solicitação
        </ion-title>
      </div>
      <ion-item color="secondary" lines="none" >
        <ion-avatar slot="start">
          <img src="assets/profile.svg" />
        </ion-avatar>
          <ion-label>
            <h1>Luiza Salvatori</h1>
            <p>Arquiteta</p>
          </ion-label> 
          <ion-label slot="end">
            <h1><ion-icon name="star"></ion-icon>4.9</h1>
            <div class="request-profile">
              <a style="color: var(--ion-color-light);" routerLink="/profile">Ver mais</a>
            </div>
            
          </ion-label> 
      </ion-item>
    </div>

  <div id="mapId" style="width: 100%; height: 100%">
  </div>
</ion-content>
