<ion-header>
  
</ion-header>

<ion-content>
  <ion-toolbar>
    <div class="container">
        <h4>Insira seus dados para fazer o cadastro</h4>
    
      <div class="form-group" >
        <input class="form-control shadow-none" type="e-mail" placeholder="E-mail" [(ngModel)]="user.email" />
        <input class="form-control shadow-none" type="password" placeholder="Senha" [(ngModel)]="user.password"/>
        <input class="form-control shadow-none" type="password" placeholder="Repita a senha" [(ngModel)]="user.password"/>
      </div>
      
    </div>
  </ion-toolbar>
  <ion-toolbar class="container ion-text-center" style="margin-top: 10%;">
    <ion-text>Já tem uma conta?<a class="link" (click)="dismiss();openLogin()">
    Entrar
    </a></ion-text>
    <button color="primary" class="ion-text-center btn btn-submit" (click)="dismiss();openLogin()"> 
      <ion-label><h2>Registrar</h2></ion-label>
    </button>
    <button color="primary" class="ion-text-center btn btn-auth" (click)="dismiss();openLogin()"> 
      <ion-icon slot="start" src="assets/facebook-icon.svg"></ion-icon>
      <h2>Registre-se com o Facebook</h2>
    </button>
    <button color="primary" class="ion-text-center btn btn-auth" (click)="dismiss();openLogin()">
      <ion-icon slot="start" src="assets/google-icon.svg"></ion-icon> 
      <ion-label><h2>Registre-se com o Google</h2></ion-label>
    </button>
  </ion-toolbar>
  

    
</ion-content>
