.container{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: flex-start;

    margin: 0;
    

    text-align: left;
    h1{
        margin: 2.5% 2% 2% 2%;
       

        overflow:initial;

        font-style: normal;
        font-weight: 600;
        font-size: clamp(1.5em, 2em + 3vw, 2.5em);
    }

    ion-text{
        margin: 5% 2% 5% 2%;
    }
    
   
}

.container-title{
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    width: 100%;

    
    
    ion-title{ 
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
    
    }
    ion-label{
        overflow:auto;

        h1{
            color: var(--ion-color-light);

            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;

            margin: 7px;
        }
    }

    .btn-submit{

        background-color: transparent;
        font-size: 14px;
        border-radius: 5px;
        height: 57px;
    
        width: 95%;
        margin: 2% 2% 10% 0;
        color: var(--ion-color-light);
    
        border: solid 1px;
        border-color: var(--ion-color-light);
        border-radius: 10px;
        outline: none;
        transition: all 0.25s ease;
        h4{
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            margin: 0 auto;
    
        }
            
    
    }
}
.btn-submit{

    background-color: var(--ion-color-secondary);
    font-size: 14px;
    border-radius: 5px;
    height: 57px;

    width: 95%;
    margin: 2% 0 10% 0;
    color: var(--ion-color-light);

    border: solid 1px;
    border-color: var(--ion-color-primary);
    border-radius: 10px;
    outline: none;
    transition: all 0.25s ease;
    h4{
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        margin: 0 auto;
    }
        

}

.init-footer{
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap:inherit;
}


.scroll{
    top: 0; 
    position: static; 

    img{
        margin: auto;
        object-fit: cover;
    }
}

.loginModal{
    --border-radius: 20px 0;
}