<ion-header color="light" class="ion-no-border">
  <ion-toolbar color="light" class="ion-no-border"  >
    <ion-buttons slot="start" routerLink=".." class="ion-no-border">
      <ion-icon class="ion-no-border" color="primary"size="large" name="close-outline"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center"> 
      Avaliar
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <div class="container">
      <ion-text>
        <h4>Como você avalia Luiza Salvatori?</h4>
      </ion-text>
      <div class="stars">
        <ngx-star-rating size="small" [(ngModel)]="rating1" [id]="'rating3'" ></ngx-star-rating >
        
      </div>
      
     </div>
     <div class="container">
      <textarea class="form-control" rows="4" cols="50" placeholder="Deixe seu Comentário"></textarea>
     </div>
     
  </ion-toolbar>
  

</ion-content>

<ion-footer color="" class="ion-no-border">
  <div class="container">
    <ion-toolbar class="form-group ion-text-center ion-no-border">
      <ion-text>Deixe sua avaliação para Luiza Salvatori</ion-text>
      <button class="ion-text-center btn btn-submit" routerLink="/evaluate"> 
         
            <h4>Deixar Avaliação</h4>
      </button>
    </ion-toolbar>
  </div>

  
</ion-footer>