.container{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    

    h4{
        margin:  12% 2%;

        color: var(--ion-color-secondary);

        font-style: normal;
        font-weight: 600;
        font-size: 28px;
    }
    
    
    .form-group{
       
        width: 95%;
      
        .form-control{
        
            margin: 5% 0 5% 0;
            
            background-color: #fff;
            width: 100%;
            height: 57px;

            
            outline: none;
            border: solid 1px;
            border-color: #CED4DA;
            border-radius: 10px;
        }
        .form-control:focus{
            border: none;
            outline: none;
        }

        .toggle-btn{
            margin: 2%;
            margin-left: 5%;

            height: 24px;
        }
        .toggle-container{
            display: flex;
            flex-direction: row;
        
            justify-content: start;
            align-items: center;
            
        }
       

     
    }

 
    
}


   

    ion-item{   
     
        width: 100%;
        

        border-radius: 10px;
        ion-avatar{

            width: 66px;
            height: 66px;
        }
            
        ion-label{


            h1{
                color: var(--ion-color-light);

                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;

                margin: 7px;
            }
            p{
                color: var(--ion-color-light);

                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;

                margin: 7px;
            }
            request-profile{
                display: flex;
                flex-direction: row;
            
                justify-content: center;
                align-items: center;

                a{
                    color: var(--ion-color-secondary);
    
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 21px;
    
                    margin: 7px;
                }
            }   
            
            
        }

}


    ion-text{
        color: var(--ion-color-secondary);
    
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 21px;
    
            margin: 7px;
        .link{
            color: var(--ion-color-secondary);
            
            text-decoration: none;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 21px;
    
            margin: 7px;
        }
    }

.container-title{
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    width: 90%;
    flex-wrap:inherit;
    
    
    ion-title{ 
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
    
    }
    ion-label{
        overflow:auto;

        h1{
            color: var(--ion-color-light);

            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;

            margin: 7px;
        }
    }
}
.btn-submit{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: var(--ion-color-secondary);
    font-size: 14px;
    border-radius: 5px;
    height: 57px;

    width: 95%;
    margin: 2%;
    color: var(--ion-color-light);

    border: solid 1px;
    border-color: var(--ion-color-secondary);
    border-radius: 10px;
    outline: none;
    transition: all 0.25s ease;
    h2{
        font-style: normal;
        font-weight: 400;
        font-size: 20px;

        margin: 0;

    }
        

}

.btn-auth{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    font-size: 14px;
    border-radius: 5px;
    height: 57px;

    width: 95%;
    margin: 2%;
    color: var(--ion-color-primary);

    border: solid 1px;
    border-color: var(--ion-color-primary);
    border-radius: 10px;
    outline: none;
    transition: all 0.25s ease;
    ion-icon{
        margin: 0 4% 0 0;
    }
    h2{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;

        margin: 0;

    }
        

}

.pay-area{
    display: flex;
    flex-direction: row;
    
    justify-content: center ;
    align-items: center;

    margin: 5%;
}

ion-toolbar{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
   
}
ion-icon{
    margin: 0;
}

.price{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;

    margin: 0 0 0 7.5%;
}
  
  .select-custom{
    background-color: #fff;
    color: var(--ion-color-primary);
    margin: 5%;

    width: 45%;

    border: none;
    margin: 2%;
    margin-left: 5%;
    outline: none;
    
    border-radius: 10px;
    
}