<ion-header>
  
</ion-header>

<ion-content>
  <ion-toolbar>
    <div class="container">
        <h4>Insira seus dados para fazer login</h4>
    
      <div class="form-group" >
        <input class="form-control shadow-none" type="e-mail" placeholder="E-mail" [(ngModel)]="user.email">
        <input class="form-control shadow-none" type="password" placeholder="Senha" [(ngModel)]="user.password" />
      </div>
      
    </div>
  </ion-toolbar>
  <ion-toolbar class="container ion-text-center" style="margin-top: 15%;">
    <ion-text>Não tem uma conta?<a class="link" (click)="dismiss();openSignUp()">
    Registre-se
    </a></ion-text>
    <button color="primary" class="ion-text-center btn btn-submit shadow-none" routerLink="" (click)="dismiss();"> 
      <ion-label><h2>Entrar</h2></ion-label>
    </button>
    <button color="primary" class="ion-text-center btn btn-auth shadow-none" routerLink=""> 
      <ion-icon slot="start"  src="assets/facebook-icon.svg"></ion-icon>
      <h2>Entrar com o Facebook</h2>
    </button>
    <button color="primary" class="ion-text-center btn btn-auth shadow-none" routerLink="">
      <ion-icon slot="start" src="assets/google-icon.svg"></ion-icon> 
      <ion-label><h2>Entrar com o Google</h2></ion-label>
    </button>
  </ion-toolbar>
  

    
</ion-content>
