<ion-header class="ion-text-center ion-no-border">
  
</ion-header>

<ion-content>
  <div class="container" style="margin-top: 5%;">
    <ion-item lines="none" *ngFor="let v of payments">
      <ion-text  color="secondary" slot="start">{{v.title}}</ion-text>
      <ion-text color="secondary"  slot="end"><strong>R$ {{v.price}}</strong></ion-text>
    </ion-item>
  </div>
 
  <ion-toolbar class="ion-no-border ion-text-center">
    <div class="pay-area">

        <ion-icon slot="start" size="large" name="card-outline"></ion-icon>
        <select class="select-custom">
          <option value="">mastercard 1941</option>
        </select>
        <ion-text slot="end" class="price">R$ 500,00</ion-text>

    </div>
    <div class="pay-area">  
        <button color="primary" class="form-control ion-text-center btn btn-submit" (click)="dismiss()"> 
          <ion-label><h4>Confirmar Solicitação</h4></ion-label>
        </button>
    </div>
  </ion-toolbar>

</ion-content>

