.container{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    
    margin: 5% 0 5% 0;
    

    
    
    .form-group{
       
        .select-inspection{
            background-color: var(--ion-color-primary);
            color: #fff;
            margin: 2%;

            width: 90%;
            height: 92px;

            margin: 2%;
            margin-left: 5%;
            outline: none;
            
            border-radius: 10px;
            
        }
      
        .form-control{
            margin: 2%;

            
            background-color: #fff;
            width: 90%;
            height: 92px;

            margin: 2%;
            margin-left: 5%;
            outline: none;
            border: solid 1px;
            border-color: #CED4DA;
            border-radius: 10px;
        }
        .form-control:focus{
            border: none;
            outline: none;
        }

        .toggle-btn{
            margin: 2%;
            margin-left: 5%;

            height: 24px;
        }
        .toggle-container{
            display: flex;
            flex-direction: row;
        
            justify-content: start;
            align-items: center;
            
        }
       

     
    }
    button{
        background-color: var(--ion-color-primary);

        width: 90%;
        height: 57px;
    
        margin: 2%;
        margin-left: 5%;
        outline: none;
        border: solid 1px;
        border-color: #CED4DA;
        border-radius: 10px;
    }
 
    
}


   

    ion-item{   
       
        width: 100%;
        
        ion-avatar{

            width: 66px;
            height: 66px;
        }
            
        ion-label{


            h1{
                color: var(--ion-color-light);

                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;

                margin: 7px;
            }
            p{
                color: var(--ion-color-light);

                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;

                margin: 7px;
            }
            request-profile{
                display: flex;
                flex-direction: row;
            
                justify-content: center;
                align-items: center;

                a{
                    color: var(--ion-color-secondary);
    
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 21px;
    
                    margin: 7px;
                }
            }   
            
            
        }

}

.container-title{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: start;
    width: 95%;
    flex-wrap:inherit;
    text-align: start;
    
    ion-title{ 
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        margin: 5% 0 2%  0;
    
    }
    ion-text{
        margin-left: 20px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;

    }
    ion-label{
        overflow:auto;

        h1{
            color: var(--ion-color-light);

            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;

            margin: 7px;
        }
    }
    
}
.btn-submit{

    background-color: var(--ion-color-primary);
    font-size: 14px;
    border-radius: 5px;
    height: 57px;

    width: 90%;
    margin: 2%;
    color: var(--ion-color-light);

    border: solid 1px;
    border-color: var(--ion-color-primary);
    border-radius: 10px;
    outline: none;
    transition: all 0.25s ease;
    h4{
        font-style: normal;
        font-weight: 400;
        font-size: 20px;

    }
        

}

.avaluation-card{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    width: 100%;

    text-align: start;


    ion-text{
        color: var(--ion-color-primary);
    }
    p{
        color: var(--ion-color-primary);

            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;

    }
}

