.container-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;

    position: relative;
    top: 0;
    width: 100%;
    height: 250px;

    z-index: 0;
    background-color: var(--ion-color-primary);
    .card{
        position: absolute;
        width: 90%;
        top: 100px;
        left: 5%;
        height: 283px;

        border-radius: 10px;
        background-color: var(--ion-color-secondary);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

        .title{
            color: #fff;
            margin: 10%;
            font-weight: 600;
            font-size: 22px;
            line-height: 27px;

            
        }
        .image-el{
            background-color: #fff;
        }
    }
}

.container{
    display: flex;
    flex-direction: row;

    justify-content: space-around;

    top: 160px;
    z-index: 0;
    position: relative;
    width: 100%;

    .btn{
        display: flex;
        flex-direction: column;
        cursor: pointer;

        justify-content: center;
        align-items: center;
        text-align: center;

        margin: 2%;
        height: 149px;
        width: 6.875rem;
        

        background: #fcfcfc;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        ion-icon{
            margin: 5%;
        }
    }
}

.swipe-up{
    display: flex;
    flex-direction: column;
    position: relative;

    justify-content: center;
    align-items: center;
    text-align: center;
    top: 160px;
    height: 149px;
    
    width: 100%;
    ion-text{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
    }
  
}

.jump{

    animation: updown 2.8s ease infinite;
}

@keyframes updown {
    0% {
      transform: translateY(-30%);
    }
  
    50% {
      transform: translateY(30%);
    }
  
    100% {
      transform: translateY(-30%);
    }
  }

  #notification-button {            
    position: relative;
    top: 1px;
    right: 1px;
    overflow: visible!important;
}


#notifications-badge {
    background-color: var(--ion-color-secondary);
    position: absolute;
    top: 2px;
    right: 6px;
    padding: 4px 6px;
    border-radius: 100%;
    z-index: 9999999;
}
 

