<ion-menu class="blur"side="end" menuId="notify" contentId="main">
  
    <ion-header class="ion-no-border">
      <ion-toolbar class="ion-no-border">
        <ion-title style="margin: 12% 0 12% 0; padding: 16px;" slot="start"><strong>Notificações</strong></ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list *ngFor="let note of notifications">
        <ion-item lines="none" routerLink="/request">
          <ion-text>
            {{note.title}}
          </ion-text>
          <ion-icon  slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-content>

</ion-menu>

<div class="ion-page" id="main">
  <ion-header color="primary" class="ion-no-border">
    <ion-toolbar color="primary" class="ion-no-border"  >
      <ion-buttons slot="start" (click) = "openMenu()" >
        <ion-icon color="light" size="large" src="assets/icon/menu.svg" style="margin: 10px;"></ion-icon>
      </ion-buttons>
      <ion-title>
          <ion-img src="assets/icon/logro-icon.svg" style="width: 35%; margin: auto;"></ion-img>
      </ion-title>
      <ion-buttons id="notification-button" slot="end" (click) = "openNotify()">
        <ion-badge id="notifications-badge" color="secondary">{{noteLength}}</ion-badge>
        <ion-icon color="light" size="large" src="assets/icon/bell.svg" style="margin: 10px;">
          
        </ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="container-home">
      <div class="card">
        <div class="title">
          <h1>Inspecões na palma da sua mão</h1>
        </div>
        <div class="image-el">
        </div> 
      </div>
    </div>
    
      <div class="container">
        <div class="btn" routerLink="/new-inspection">
          <ion-icon color="secondary" size="large" src="assets/icon/square.svg"></ion-icon>
          <ion-text>Solicitar inspeção individual</ion-text>
        </div>
        <div class="btn" routerLink="/new-inspection">
          <ion-icon color="secondary" size="large" name="folder-open-outline"></ion-icon>
          <ion-text>Solicitar pacote de inspeções</ion-text>
        </div>
        <div class="btn" routerLink="/new-inspection">
          <ion-icon color="secondary" size="large" name="search-outline"></ion-icon>
          <ion-text>Solicitar análise de riscos</ion-text>
        </div>
      
      </div>
      <div class="swipe-up">
        
        <ion-icon class="jump" color="primary" size="large" name="arrow-up-outline"></ion-icon>
        <ion-text>Solicite uma inspeção para a sua construção</ion-text>
      </div>
      
    </ion-content>
</div> 