// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
	--ion-color-primary: #3C3C3B;
	--ion-color-primary-rgb: 60,60,59;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #353534;
	--ion-color-primary-tint: #50504f;

	--ion-color-secondary: #E94E1B;
	--ion-color-secondary-rgb: 233,78,27;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #cd4518;
	--ion-color-secondary-tint: #eb6032;

	--ion-color-tertiary: #F0F1F6;
	--ion-color-tertiary-rgb: 240,241,246;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #d3d4d8;
	--ion-color-tertiary-tint: #f2f2f7;

	--ion-color-success: #28A745;
	--ion-color-success-rgb: 40,167,69;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 255,255,255;
	--ion-color-success-shade: #23933d;
	--ion-color-success-tint: #3eb058;

	--ion-color-warning: #FFC107;
	--ion-color-warning-rgb: 255,193,7;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0aa06;
	--ion-color-warning-tint: #ffc720;

	--ion-color-danger: #DC3545;
	--ion-color-danger-rgb: 220,53,69;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #c22f3d;
	--ion-color-danger-tint: #e04958;

    /** dark **/
    --ion-color-dark: #343A40;
    --ion-color-dark-rgb: 34, 36, 40;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;

	--ion-color-medium: #F0F1F6;
	--ion-color-medium-rgb: 146,148,156;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #808289;
	--ion-color-medium-tint: #9d9fa6;

	--ion-color-light: #F8F9FA;
	--ion-color-light-rgb: 248,249,250;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #dadbdc;
	--ion-color-light-tint: #f9fafb;

}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
