<ion-header color="light" class="ion-no-border">
  <ion-toolbar color="light" class="ion-no-border"  >
    <ion-buttons slot="start" routerLink=".." class="ion-no-border">
      <ion-icon class="ion-no-border" color="primary"size="large" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center"> 
      Minhas Inspeções
    </ion-title>
    <ion-item color="light" slot="end" lines="none">
      <span></span>
    </ion-item>
    <ion-buttons slot="end" class="ion-no-border search-box">
      <input type="text" placeholder="Pesquisar" class="search-input" />
      <ion-icon class="ion-no-border search-btn" color="primary"size="large" name="search-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light" class="container">

  <ion-card class="card" *ngFor="let v of inspections">
    <ion-item lines="none">
      <ion-label>
       <h1>{{v.name}}</h1>
       <p>{{v.status}}</p>
       <a routerLink="/request">Ver informações</a>
      </ion-label>
      <img  src="assets/map.svg" routerLink="/map" style="object-fit: cover"/>
    </ion-item>
    
  </ion-card>

 
    

</ion-content>

