.container{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    .card{
        border-radius: 10px;
        padding: 0px;
        
        ion-item{
           
            ion-label{


                h1{
                    color: #3C3C3B;
    
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 19px;
    
                    margin: 7px;
                }
                p{
                    color:rgba(0, 0, 0, 0.5);;
    
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 21px;
    
                    margin: 7px;
                }
                a{
                    color: var(--ion-color-secondary);
    
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 21px;
    
                    margin: 7px;
                }
            }

        }

           
    }
    
    .form-group{
       
        .select-inspection{
            background-color: var(--ion-color-primary);
            color: #fff;
            margin: 2%;

            width: 90%;
            height: 57px;

            margin: 2%;
            margin-left: 5%;
            outline: none;
            
            border-radius: 10px;
            
        }
      
        .gps{
            background-color: var(--ion-color-secondary);
            margin: 2%;

            color: var(--ion-color-light);
            width: 90%;
            height: 57px;

            margin: 2%;
            margin-left: 5%;
            outline: none;
            border: solid 1px;
            border-color: #CED4DA;
            border-radius: 10px;
        }
        .form-control{
            margin: 2%;

            
            background-color: #fff;
            width: 90%;
            height: 57px;

            margin: 2%;
            margin-left: 5%;
            outline: none;
            border: solid 1px;
            border-color: #CED4DA;
            border-radius: 10px;
        }
        .form-control:focus{
            border: none;
            outline: none;
        }

        .toggle-btn{
            margin: 2%;
            margin-left: 5%;

            height: 24px;
        }
        .toggle-container{
            display: flex;
            flex-direction: row;
        
            justify-content: start;
            align-items: center;
            
        }
       

     
    }
    button{
        background-color: var(--ion-color-primary);

        width: 90%;
        height: 57px;
    
        margin: 2%;
        margin-left: 5%;
        outline: none;
        border: solid 1px;
        border-color: #CED4DA;
        border-radius: 10px;
    }
 
    
}

.search-box {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-98%,-50%);
    height: 60px;
    background: transparent;
    line-height: 40px;
    padding: 10px;
    border-radius: 60px;
    cursor: pointer;
  }
  
  .search-input {
    background: var(--ion-color-light);
    color: var(--ion-color-primary);
    outline: none;
    border: none;
    line-height: 40px;
    width: 0px;
    float: left;
    font-size: 1em;
    transition: 0.5s ease;
  }
  
  .search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: transparent;
    padding: 12px;
    border-radius: 50%;
    float: right;
    color: var(--ion-color-light);
    transition: 0.4s ease;
  }
  
  .search-box:hover > .search-input,
  .search-input:focus {
    width: 240px;
    margin: 0px 8px;
    
  }
  

  .search-box:hover > .search-btn, 
  .search-input:focus + .search-btn {

    background: var(--ion-color-light);
    color: #101010;
  }


