<ion-header color="light" class="ion-no-border">
  <ion-toolbar color="light" class="ion-no-border"  >
    <ion-buttons slot="start" routerLink=".." class="ion-no-border">
      <ion-icon class="ion-no-border" color="primary"size="large" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center" style="margin-left: -5px ;"> 
      Carteira
    </ion-title>
    <ion-item color="light" slot="end" lines="none">
      <span></span>
    </ion-item>
    <ion-buttons slot="end" class="ion-no-border search-box">
      <input type="text" placeholder="Pesquisar" class="search-input" />
      <ion-icon class="ion-no-border search-btn" color="primary"size="large" name="search-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  

</ion-content>

<ion-footer color="light" class="ion-no-border">
  <div class="container">
    <ion-toolbar color="light" class="form-group ion-text-center">
      <button color="primary" class="ion-text-center btn btn-submit" routerLink="/new-card"> 
        <ion-label><h4>Adicionar Cartão</h4></ion-label>
      </button>
    </ion-toolbar>
  </div> 
</ion-footer>
