<ion-header color="light" class="ion-no-border">
  <ion-toolbar color="light" class="ion-no-border"  >
    <ion-buttons slot="start" routerLink="/my-inspections" class="ion-no-border">
      <ion-icon class="ion-no-border" color="primary"size="large" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center"> 
      Nome da Solicitação
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content color="primary-contrast" style="border-radius: 15px;">
  <div class="container" >
    <ion-item color="secondary" lines="none" >
     <ion-avatar slot="start">
      <img src="assets/profile.svg" />
     </ion-avatar>
     <ion-label>
       <h1>Luiza Salvatori</h1>
       <p>Arquiteta</p>
     </ion-label> 
     <ion-label slot="end">
      <h1><ion-icon name="star"></ion-icon>4.9</h1>
      <div class="request-profile">
        <a style="color: var(--ion-color-light);" routerLink="/profile">Ver mais</a>
      </div>
      
    </ion-label> 
    </ion-item>

    <div class="container-title">
      <ion-title color="primary">18 de setembro</ion-title>
      <ion-item color="primary">
          <ion-text>15 a 16 horas</ion-text>
      </ion-item>
    </div>  

    <ion-card style="border-radius: 10px; width: 90%;">
      <img src="assets/map-img.svg" routerLink="/map" width="100%" height="112px" style="object-fit: cover" />
      
      <ion-card-content class="container-card">
       <ion-list style="width: 100%;" color="light" *ngFor="let v of properties">
         <ion-item lines="none">
           <ion-text slot="start" color="primary">{{v.name}}: </ion-text>
           <ion-text slot="start" color="secondary">{{v.propertie}}</ion-text>
         </ion-item>
       
       </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
    
</ion-content>

<ion-footer color="light" class="ion-no-border">
  <div class="container">
    <ion-toolbar class="form-group ion-text-center ion-no-border" >
      <button color="primary" class="ion-text-center btn btn-submit" (click)="openPayment()"> 
        <ion-label><h4>Confirmar Solicitação</h4></ion-label>
      </button>
    </ion-toolbar>
  </div>
</ion-footer>