.container{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    

    
    
    .form-group{
       
        .select-inspection{
            background-color: var(--ion-color-primary);
            color: #fff;
            margin: 2%;

            width: 90%;
            height: 92px;

            margin: 2%;
            margin-left: 5%;
            outline: none;
            
            border-radius: 10px;
            
        }
      
        .form-control{
            margin: 2%;

            
            background-color: #fff;
            width: 90%;
            height: 92px;

            margin: 2%;
            margin-left: 5%;
            outline: none;
            border: solid 1px;
            border-color: #CED4DA;
            border-radius: 10px;
        }
        .form-control:focus{
            border: none;
            outline: none;
        }

        .toggle-btn{
            margin: 2%;
            margin-left: 5%;

            height: 24px;
        }
        .toggle-container{
            display: flex;
            flex-direction: row;
        
            justify-content: start;
            align-items: center;
            
        }
       

     
    }
    button{
        background-color: var(--ion-color-primary);

        width: 90%;
        height: 57px;
    
        margin: 2%;
        margin-left: 5%;
        outline: none;
        border: solid 1px;
        border-color: #CED4DA;
        border-radius: 10px;
    }
 
    
}


   

    ion-item{   
        margin: 2%;
        width: 90%;
        

        border-radius: 10px;
        ion-avatar{

            width: 66px;
            height: 66px;
        }
            
        ion-label{


            h1{
                color: var(--ion-color-light);

                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;

                
            }
            p{
                color: var(--ion-color-light);

                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;

               
            }
            request-profile{
                display: flex;
                flex-direction: row;
            
                justify-content: center;
                align-items: center;

                a{
                    color: var(--ion-color-secondary);
    
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 21px;
    
                    margin: 7px;
                }
            }   
            
            
        }

}

.container-card{
    display: flex;
    flex-direction: row;

    justify-content: flex-start;
    align-items: center;

    
    flex-wrap: wrap;

    ion-list{
        margin: 0;
        padding: 0px;
    }
    ion-text{
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 21px;
        margin: 2px;

    }

}

.container-title{
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    width: 95%;
    flex-wrap:inherit;
    
    
    ion-title{ 
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
    
    }
    ion-label{
        overflow:auto;

        h1{
            color: var(--ion-color-light);

            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 19px;

            margin: 7px;
        }
    }
}
.btn-submit{

    background-color: var(--ion-color-primary);
    font-size: 14px;
    border-radius: 5px;
    height: 57px;
    margin: 0;
    width: 100%;

    color: var(--ion-color-light);

    border: solid 1px;
    border-color: var(--ion-color-primary);
    border-radius: 10px;
    outline: none;
    transition: all 0.25s ease;
    h4{
        font-style: normal;
        font-weight: 400;
        font-size: 20px;

    }
        

}