
.container{
  background-color: var(--ion-color-light);
  border-radius: 0px 0px 15px 15px;

  .container-profile{
    display: flex;
    flex-direction: row;

    justify-content: flex-start;
    align-items: center;

  
    width: 100%;
    height: 200px;

    color: var(--ion-color-light);
    
    ion-avatar{
      margin: 2.5%;
      width: 77px;
      height: 77px;
    }
    ion-label{
      margin:  7.5% 0 0 7.5%;
      h1{
        
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
      }
      .rate {
        display: flex;
        flex-direction: row;
      
        justify-content: start;
        align-items: center;
        margin: 2.5%;
        p{
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          color: var(--ion-color-light);
          margin: 2.5%;
        }
      
      }
      
      
    }
  }

}
ion-label{

 h1{ 
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  }
  }


ion-list{
  margin-top: 33px;
  background-color: var(--ion-color-light);
  ion-item{
    margin: 0% 0% 0% 2%;

    font-style: normal;
    font-weight: 500;
    font-size: 20px;

    color: var(--ion-color-primary);
    
  }
}


