<ion-header color="light" class="ion-no-border">
  <ion-toolbar color="light" class="ion-no-border"  >
    <ion-buttons slot="start" routerLink="" class="ion-no-border">
      <ion-icon class="ion-no-border" color="primary"size="large" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center"> 
      Resultado da Inspeção
    </ion-title>

  </ion-toolbar>
</ion-header>
  
<ion-content color="light">
  <div class="container" >
    <ion-item color="secondary" lines="none" >
     <ion-avatar slot="start">
      <img src="assets/profile.svg" />
     </ion-avatar>
     <ion-label>
       <h1>Luiza Salvatori</h1>
       <p>Arquiteta</p>
     </ion-label> 
     <ion-label slot="end">
      <h1><ion-icon name="star"></ion-icon>4.9</h1>
      <div class="request-profile">
        <a style="color: var(--ion-color-light);" routerLink="/profile">Ver mais</a>
      </div>
      
    </ion-label> 
    </ion-item>

    <ion-card style="border-radius: 10px; width: 90%;">
      <img src="assets/map-img.svg" width="100%" height="112px" style="object-fit: cover" />
      
      <ion-card-content>
       <ion-list color="light" *ngFor="let v of properties">
         <ion-item style="width: 100%;" lines="none">
           <ion-text slot="start" color="primary">{{v.name}}: </ion-text>
           <ion-text slot="end" color="secondary">{{v.propertie}}</ion-text>
         </ion-item>
       
       </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-toolbar color="light" class="slides-container">
    <ion-title color="dark">Imagens e Vídeo</ion-title>
    <ion-slides pager="false" [options]="slideOpts" class="ion-margin-top">
      <ion-slide *ngFor = "let entry of images" >
        <ion-card>
          <img src="{{entry.imgURl}}" style="object-fit: cover;">
        </ion-card>
        
      </ion-slide>
    </ion-slides>
  </ion-toolbar>
  <ion-toolbar color="light">
    <div class="container-download" >
      <ion-title color="dark">Documentos</ion-title>
      <button *ngFor="let v of files" class="btn-download" href="" download>
        <a href="" download>{{v.title}}</a>
        <ion-icon slot="end" color="primary" size="large" name="download-outline"></ion-icon>
      </button>
     
    </div>
   

  </ion-toolbar>
  <ion-toolbar color="light">
    <div class="coments">
      <ion-title color="dark">Comentários</ion-title>
      <ion-text>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </ion-text>
    </div>
  </ion-toolbar>

</ion-content>

<ion-footer color="" class="ion-no-border">
  <div class="container">
    <ion-toolbar class="form-group ion-text-center ion-no-border">
      <ion-text>Deixe sua avaliação para Luiza Salvatori</ion-text>
      <button style="background-color: var(--ion-color-secondary);" class="ion-text-center btn btn-submit" routerLink="/evaluate"> 
            <ion-icon name="star"></ion-icon>
            <h4>&nbsp; Avaliar</h4>
      </button>
    </ion-toolbar>
  </div>

</ion-footer>
