.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.btn-submit{
    display: flex;
    justify-content: center;
    align-items: center;
  
      background-color: var(--ion-color-primary);
      font-size: 14px;
      border-radius: 5px;
      height: 57px;
  
      width: 15%;
      margin: 2%;
      color: var(--ion-color-light);
  
      border: solid 1px;
      border-color: var(--ion-color-primary);
      border-radius: 10px;
      outline: none;
      transition: all 0.25s ease;
      h4{
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
  
      }
          
  
  }

  .btn-add{
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: var(--ion-color-primary);
    font-size: 14px;
    border-radius: 5px;
    height: 57px;

    width: 75%;
    margin: 2%;
    color: var(--ion-color-light);

    border: solid 1px;
    border-color: var(--ion-color-primary);
    border-radius: 10px;
    outline: none;
    transition: all 0.25s ease;
    h4{
        font-style: normal;
        font-weight: 400;
        font-size: 20px;

    }
        

}