<ion-footer color="light" class="ion-no-border">   
  <ion-toolbar color="light" class="form-group ion-text-center ion-no-border w-100">
    <div class="container">
      <button color="primary" *ngIf="id >= 2" (click)="onPreviousStep()" class="ion-text-center btn btn-submit" > 
        <ion-label>
          <ion-icon size="large" name="chevron-back-outline"></ion-icon>
        </ion-label>
      </button>
      <button color="primary"  *ngIf="id == 5" class="ion-text-center btn btn-add" routerLink="/wallet" (click)="resetId()"> 
        <ion-label>
          <h4>Adicionar Cartão</h4>
        </ion-label>
      </button>
      <ion-text *ngIf="id < 5">Etapa {{id}} de 5</ion-text>
      <button color="primary" *ngIf="id < 5" class="ion-text-center btn btn-submit" (click)="onNextStep()"> 
        <ion-label>
          <ion-icon size="large" name="chevron-forward-outline"></ion-icon>
        </ion-label>
      </button>
      
    </div>
  </ion-toolbar>
</ion-footer>