*{
    box-sizing:border-box;
  }
  
  body, html{
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
  }
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
     background-image: linear-gradient(to right top, #a2beeb, #8ecfee, #8edde5, #a4e7d5, #c7eec7);
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .title {
      margin-bottom: 30px;
      color: #162969;
  }
  
  ion-slide{
      width: 100%;
      height: 300px;
  }
  
  
  .card{
      width: 80%;
      max-width: 320px;
      height: 190px;
      -webkit-perspective: 600px;
      -moz-perspective: 600px;
      perspective:600px;
      border-radius: 10px;
  }
  
  .card__part{
      box-shadow: 1px 1px #aaa3a3;
      top: 0;
      position: absolute;
      z-index: 1000;
      left: 0;
      display: inline-block;
      width: 100%;
      
      height: 190px;
      background-image: linear-gradient(to right bottom, #ff977d,#f3926c,#e4704a,#eb6032, var(--ion-color-secondary)); 
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 8px;
     
      -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
  }
  
  .card__front{
    padding: 18px;
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  }
  
  .card__back {
    padding: 18px 0;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  }
  
  .card__black-line {
      margin-top: 5px;
      height: 38px;
      background-color: #303030;
  }
  
  .card__logo {
      height: 16px;
  }
  
  .card__front-logo{
      position: absolute;
      top: 18px;
      right: 18px;
  }
  
  .card__front-square{
      position: absolute;
      top: 15px!important;
      left: 15px!important;
  }
  
  .card__square {
  
      border-radius: 5px;
      height: 30px;
  }
  
  .card_numer {
      display: block;
      width: 100%;
      word-spacing: 4px;
      font-size: calc(16px + 6 * ((100vw - 320px) / 680));
      letter-spacing: 2px;
      color: #fff;
      text-align: center;
      margin-bottom: 15px;
      margin-top: 45px;
  }
  
  .card__space-75 {
      width: 65%;
      float: left;
  }
  
  .card__space-25 {
      width: 30%;
      float: left;
  }
  
  .card__label {
      font-size: 10px;
      text-transform: uppercase;
      color: rgba(255,255,255,0.8);
      letter-spacing: 1px;
  }
  
  .card__info {
      margin-bottom: 0;
      margin-top: 5px;
      font-size: 16px;
      line-height: 18px;
      color: #fff;
      letter-spacing: 1px;
      text-transform: uppercase;
  }
  
  .card__back-content {
      padding: 15px 15px 0;
  }
  .card__secret--last {
      color: #303030;
      text-align: right;
      margin: 0;
      font-size: 14px;
  }
  
  .card__secret {
      padding: 5px 12px;
      background-color: #fff;
      position:relative;
  }
  
  .card__secret:before{
    content:'';
    position: absolute;
      top: -3px;
      left: -3px;
      height: calc(100% + 6px);
      width: calc(100% - 42px);
      border-radius: 4px;
    background: repeating-linear-gradient(45deg, #ededed, #ededed 5px, #f9f9f9 5px, #f9f9f9 10px);
  }
  
  .card__back-logo {
      position: absolute;
      bottom: 15px;
      right: 15px;
  }
  
  .card__back-square {
      position: absolute;
      bottom: 15px;
      left: 15px;
  }
  
  .card:hover .card__front {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
  
  }
  
  .card:hover .card__back {
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
  }
  
  .container{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }
  
  .btn-submit{
    display: flex;
    justify-content: center;
    align-items: center;
  
      background-color: var(--ion-color-primary);
      font-size: 14px;
      border-radius: 5px;
      height: 57px;
  
      width: 15%;
      margin: 2%;
      color: var(--ion-color-light);
  
      border: solid 1px;
      border-color: var(--ion-color-primary);
      border-radius: 10px;
      outline: none;
      transition: all 0.25s ease;
      h4{
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
  
      }
          
  
  }
  
  .form-group{
      display: flex;
      justify-content: center;
      align-items: center;
      
      margin: auto;
      width: 90%;
      .select-inspection{
          background-color: var(--ion-color-primary);
          color: #fff;
          margin: 2%;
  
          width: 90%;
          height: 57px;
  
          margin: 2%;
          margin-left: 5%;
          outline: none;
          
          border-radius: 10px;
          
          --placeholder-color: #fff;
          --placeholder-opacity: 1;
          
          
      }
     .select-custom{
          background-color: #fff;
          color: var(--ion-color-primary);
          margin: 2%;
  
          width: 90%;
          height: 57px;
  
          margin: 2%;
          border: solid 1px;
          border-color: #CED4DA;
          border-radius: 10px;
          margin-left: 5%;
          outline: none;
          
          border-radius: 10px;
     }
      
  
      .gps{
          display: flex;
  
          justify-content: flex-start;
          align-items: center;
  
          background-color: var(--ion-color-secondary);
          margin: 2%;
  
          color: var(--ion-color-light);
          width: 90%;
          height: 57px;
  
          margin: 2%;
          margin-left: 5%;
          outline: none;
          border: solid 1px;
          border-color: #CED4DA;
          border-radius: 10px;
          
          
      }
      .attach{
          display: flex;
  
          justify-content: flex-start;
          align-items: center;
  
          background-color: #fff;
          margin: 2%;
  
          color: var(--ion-color-dark);
          width: 90%;
          height: 57px;
  
          margin: 2%;
          margin-left: 5%;
          outline: none;
          border: solid 1px;
          border-color: #CED4DA;
          border-radius: 10px;
      }
      .form-control{
          
          background-color: #fff;
          width: 90%;
          height: 57px;
  
          outline: none;
          border: solid 1px;
          border-color: #CED4DA;
          border-radius: 10px;
      }
      .form-control:focus{
          border: none;
          outline: none;
      }
  
      .toggle-btn{
          margin: 2%;
          margin-left: 5%;
  
          height: 24px;
      }
      .toggle-container{
          display: flex;
          flex-direction: row;
      
          justify-content: start;
          align-items: center;
          
      }
  }