<app-header [id]="id" (idEvent)="incrementId($event)" ></app-header>
<app-card-step1 *ngIf="id===1" style="height: 100%;" (cardEvent)="cardAdd($event)"></app-card-step1>
<app-card-step2 *ngIf="id===2" style="height: 100%;" [card]="card" (cardEvent)="cardAddName($event)"></app-card-step2>
<app-card-step3 *ngIf="id===3" style="height: 100%;" [card]="card" (cardEvent)="cardAddValidate($event)"></app-card-step3>
<app-card-step4 *ngIf="id===4" style="height: 100%;" [card]="card" (cardEvent)="cardAddSecret($event)"></app-card-step4>
<app-card-step5 *ngIf="id===5" style="height: 100%;" [card]="card" (cardEvent)="cardAddType($event)"></app-card-step5>


<app-footer [id]="id" (idEvent)="incrementId($event)"></app-footer>
