.container{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    
    .form-group{
        
        .select-inspection{
            background-color: var(--ion-color-primary);
            color: #fff;
            margin: 2%;

            width: 90%;
            height: 57px;

            margin: 2%;
            margin-left: 5%;
            outline: none;
            
            border-radius: 10px;
            
            --placeholder-color: #fff;
            --placeholder-opacity: 1;
            
            
        }
       .select-custom{
            background-color: #fff;
            color: var(--ion-color-primary);
            margin: 2%;

            width: 90%;
            height: 57px;

            margin: 2%;
            border: solid 1px;
            border-color: #CED4DA;
            border-radius: 10px;
            margin-left: 5%;
            outline: none;
            
            border-radius: 10px;
       }
        

        .gps{
            display: flex;

            justify-content: flex-start;
            align-items: center;

            background-color: var(--ion-color-secondary);
            margin: 2%;

            color: var(--ion-color-light);
            width: 90%;
            height: 57px;

            margin: 2%;
            margin-left: 5%;
            outline: none;
            border: solid 1px;
            border-color: #CED4DA;
            border-radius: 10px;
            
            
        }
        .attach{
            display: flex;

            justify-content: flex-start;
            align-items: center;

            background-color: #fff;
            margin: 2%;

            color: var(--ion-color-dark);
            width: 90%;
            height: 57px;

            margin: 2%;
            margin-left: 5%;
            outline: none;
            border: solid 1px;
            border-color: #CED4DA;
            border-radius: 10px;
        }
        .form-control{
            margin: 2%;

            
            background-color: #fff;
            width: 90%;
            height: 57px;

            margin: 2%;
            margin-left: 5%;
            outline: none;
            border: solid 1px;
            border-color: #CED4DA;
            border-radius: 10px;
        }
        .form-control:focus{
            border: none;
            outline: none;
        }

        .toggle-btn{
            margin: 2%;
            margin-left: 5%;

            height: 24px;
        }
        .toggle-container{
            display: flex;
            flex-direction: row;
        
            justify-content: start;
            align-items: center;
            
        }
    }
        
    
}
.btn-submit{

    background-color: var(--ion-color-primary);
    font-size: 14px;
    border-radius: 5px;
    height: 57px;

    width: 95%;
    margin: 2%;
    color: var(--ion-color-light);

    border: solid 1px;
    border-color: var(--ion-color-primary);
    border-radius: 10px;
    outline: none;
    transition: all 0.25s ease;
    h4{
        font-style: normal;
        font-weight: 400;
        font-size: 20px;

    }
        

}

ion-progress-bar{
    --progress-background: #fff;
}

ion-select{
    --placeholder-color: var(--ion-color-primary);
    --placeholder-opacity: .8;
}
.card{
    width: 90%;
    margin: 5%;

    background-color: #fff;
    height: 320px;
    overflow: scroll;
  
    outline: none;
    border: solid 1px;
    border-color: #CED4DA;
    border-radius: 10px;
    &::-webkit-scrollbar{
        width: 14px;
        
        
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 14px 14px transparent;
        border: solid 4px transparent;
      }
      
      /* Handle */
    &::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 8px 8px #bbbbbe;
        border: solid 4px transparent;
        border-radius: 14px;
      }
      
      /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
}
.c-text{
    margin-left: 6%;
}
.form-another{
    margin-left: 2%;

    
    background-color: #fff;
    width: 90%;
  
    outline: none;
    border: none;
    font-size: 20px;
    &::placeholder{
        font-size: 20px;
        color: black;
        margin: 0;
    }
  
}
.form-another:focus{
    border: none;
    outline: none;
}

.another{
    .checkmark{
        top: -12px;
    }
}

.checkbox-style {
    display: inline-block;
    position: relative;
   
    padding-left: 20px;
    
    margin: 2.5%;
  
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .checkbox-style input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 2px;
    left: -5px;

    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 25%;
  }
  
  .checkbox-style:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .checkbox-style input:checked ~ .checkmark {
    background-color: var(--ion-color-primary);
  }
  
  .checkmark:after {
    content: '';
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .checkbox-style input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .checkbox-style .checkmark:after {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
  }
