<ion-header color="light" class="ion-no-border">
  <ion-toolbar color="light" class="ion-no-border"  >
    <ion-buttons slot="start" routerLink=".." class="ion-no-border">
      <ion-icon class="ion-no-border" color="primary"size="large" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center"> 
      Solicitar Inspeção
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content color="light" class="container">

  <div class="form-group" >
    <ion-select placeholder="Inspeção individual" class="select-inspection"  name="inspection"  id="my-inspections">
      <ion-select-option  value="{{v.option}}" *ngFor=" let v of options" >{{v.option}}</ion-select-option>
    </ion-select>

  </div>

  <div class="form-group" >
    <input class="form-control shadow-none" type="text" placeholder="Qual o nome do local?" [(ngModel)]="inspection.location"/>
  </div>

  <div class="form-group" >
    <ion-select placeholder=" Tipo de Serviço" class="select-custom" name="inspection" [(ngModel)]="inspection.type" id="my-inspections">
      <ion-select-option   value="{{v.option}}" *ngFor=" let v of options">{{v.option}}</ion-select-option>
    </ion-select>
  </div>
  <div class="form-group" >
    <ion-select placeholder="Escolha um Profissional" class="select-custom" name="inspection"  id="my-inspections">
      <ion-select-option  value="{{v.option}}" *ngFor=" let v of profissional" >{{v.option}}</ion-select-option>
    </ion-select>
  </div>
  
  <div class="form-group" >  
    <button class="gps ion-text-center">
      <ion-icon  size="large" slot="start" name="location-outline"></ion-icon>
      <ion-text>Onde está localizado?</ion-text>
    </button>
    
    <input class="form-control shadow-none" type="text" placeholder="Qual a construtora?" [(ngModel)]="inspection.company"/>
    <input class="form-control shadow-none" type="text" placeholder="Qual o responsável técnico?" [(ngModel)]="inspection.inCharge"/>
    <button class="attach ion-text-center">
      <ion-icon  size="large" slot="start" name="attach-outline" style="transform: rotate(45deg);"></ion-icon>
      <ion-text> Plantas(PDF ou DWG)</ion-text>
    </button>
    <button class="attach ion-text-center">
      <ion-icon  size="large" slot="start" name="attach-outline" style="transform: rotate(45deg);"></ion-icon>
      <ion-text> Fichas de Inspeções(PDF)</ion-text>
    </button>
    <button class="attach ion-text-center">
      <ion-icon  size="large" slot="start" name="attach-outline" style="transform: rotate(45deg);"></ion-icon>
      <ion-text> Notas técnicas(PDF)</ion-text>
    </button>
    <div class="toggle-container">
      <ion-toggle color="secondary" class="toggle-btn" (click)="collapse.toggle()" [attr.aria-expanded]="isCollapsed"></ion-toggle>
      <ion-label>Possui DATEC?</ion-label>
    </div>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
      <p class="c-text">Selecione</p> 
      <div class="card">
        <div class="card-body">
          <div name="datec" id="datec" multiple>
            <ion-item *ngFor="let v of datec" lines="none">
              <label class="checkbox-style">
                  {{v.num}}
                <input class="checkbox-style" type="checkbox" id="credit-card"/>
                <span class="checkmark" ></span>
              </label>
            </ion-item>
          </div>
         </div>
      </div>
      
    </div>
    <div class="toggle-container">
      <ion-toggle color="secondary" class="toggle-btn"></ion-toggle>
      <ion-label>Alvenaria Estrutural?</ion-label>
    </div>
    <div class="toggle-container">
      <ion-toggle color="secondary" class="toggle-btn" (click)="collapse1.toggle()" [attr.aria-expanded]="isCollapsed1"></ion-toggle>
      <ion-label>Uso de sistemas inovadores?</ion-label>
    </div>
    <div #collapse1="ngbCollapse" [(ngbCollapse)]="isCollapsed1">
      <p class="c-text">Selecione</p> 
      <div class="card">
        <div class="card-body">
          <div name="datec" id="datec" multiple>
            <ion-item *ngFor="let v of innovation" lines="none">
              <label class="checkbox-style">
                  {{v.name}}
                <input class="checkbox-style" type="checkbox" />
                <span class="checkmark" ></span>
              </label>
            </ion-item>
            <ion-item class = "another">
              <label class="checkbox-style" >
                <input class="checkbox-style" type="checkbox" />
                <span class="checkmark"></span>
              </label>
              <input class="form-another shadow-none" type="text" placeholder="Outro">  
            </ion-item>
          </div>
         </div>
      </div>
      
    </div>
    

  </div>

</ion-content>
  <ion-footer color="light" class="ion-no-border">
    <div class="container" style="background-color: var(--ion-color-light);">
      <ion-toolbar color="light" class="form-group ion-text-center">
        <button color="primary" class="ion-text-center btn btn-submit shadow-none" routerLink="/time-calendar"> 
          <ion-label><h4>Continuar</h4></ion-label>
        </button>
      </ion-toolbar>
    </div>

    <ion-progress-bar color="secondary" value="0.33" type="determinate"></ion-progress-bar>
  </ion-footer>