.container{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    text-justify: center;
    
    flex-wrap: wrap;
   
    ion-text{
        margin: 10% 0 10% 0;

        overflow: auto;
        width: 90%;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        p{
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
        }
    }
}

.container{
    ion-progress-bar{
    height: 15px;
    width: 90%;
    border-radius: 10px;
    }
}



.container-card{
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    
    flex-wrap: wrap;

    ion-list{
        margin: 0;
        padding: 0px;
    }
    ion-text{
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 21px;
        margin: 2px;

    }

}

.btn-style {
    background-color: #fff;
    font-size: 14px;
    border-radius: 5px;
    
    margin: 2%;
    color: var(--ion-color-secondary);

    border: solid 1px;
    border-color: var(--ion-color-secondary);
    outline: none;
    transition: all 0.25s ease;
  }

  .btn-style:hover {
    background-color: var(--ion-color-secondary);
    font-size: 14px;
    border-radius: 5px;
    margin: 2%;
    color: var(--ion-color-light);

    border: solid 1px;
    border-color: var(--ion-color-secondary);
    outline: none;
    
  }
  .btn-style:active {
    background-color: var(--ion-color-secondary);
    font-size: 14px;
    border-radius: 5px;
    padding: 12px;
    margin: 2%;
    color: var(--ion-color-light);

    border: solid 1px;
    border-color: var(--ion-color-secondary);
    outline: none;
    
  }
