<ion-header color="light" class="ion-no-border">
  <ion-toolbar color="light" class="ion-no-border"  >
    <ion-buttons slot="start" routerLink=".." class="ion-no-border">
      <ion-icon class="ion-no-border" color="primary"size="large" name="close-outline"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center"> 
      Solicitação Realizada
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <div class="container">
      <ion-text>Sua solicitação será aceita em breve</ion-text>
      <ion-progress-bar color="secondary" buffer="0.75" type="indeterminate"></ion-progress-bar>
  </div>
  <div class="container">
    <ion-text color="secondary"><p>Estamos encontrando o melhor profissional para a sua inspeção</p></ion-text>
  </div>

  <div class="container-card">
    <ion-card style="border-radius: 10px; width: 80%;">
      <img src="assets/map-img.svg" routerLink="/map" width="100%" height="112px" style="object-fit: cover" />
      
      <ion-card-content class="container-card">
       <ion-list color="light" style="width: 100%;" *ngFor="let v of properties">
         <ion-item style="width: 100%;" lines="none">
           <ion-text slot="start" color="primary">{{v.name}}: </ion-text>
           <ion-text color="secondary">{{v.propertie}}</ion-text>
         </ion-item>
       
       </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
 
  
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-no-border ion-no-margin ion-padding-vertical">
    <div class="container">
      <button class="btn btn-style" routerLink="..">Fechar</button>
    </div>
  </ion-toolbar>
  <ion-progress-bar color="secondary" value="1" type="determinate"></ion-progress-bar>
</ion-footer>
