<ion-header color="light" class="ion-no-border">
  <ion-toolbar color="light" class="ion-no-border"  >
    <ion-buttons slot="start" routerLink="/wallet" (click)="resetId()" class="ion-no-border">
      <ion-icon class="ion-no-border" color="primary"size="large" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center"> 
      Cadastrar um novo cartão
    </ion-title>
    <ion-buttons slot="end"  class="ion-no-border">
      <ion-icon class="ion-no-border" color="primary"size="large" name="search-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
