<ion-content color="light">

  <ion-slides pager="false" [options]="slideOpts" >
    <ion-slide>
     
    <div class="card">
      <div class="card__front card__part">
        <img class="card__front-square card__square" src="../assets/card-chip.png">
        <img class="card__front-logo card__logo" src="../assets/mastercard.png">
        <p class="card_numer">{{card.number}}</p>
        <div class="card__space-75">
          <span class="card__label">Nome impresso</span>
          <p class="card__info">{{card.name}}</p>
        </div>
        <div class="card__space-25">
          <span class="card__label">Validade</span>
                <p class="card__info">{{card.validate}}</p>
        </div>
      </div>
      
      <div class="card__back card__part">
        <div class="card__black-line"></div>
        <div class="card__back-content">
          <div class="card__secret">
            <p class="card__secret--last"></p>
          </div>
          <img class="card__back-square card__square" src="../assets/card-chip.png">
          <img class="card__back-logo card__logo" src="../assets/mastercard.png">
          
        </div>
      </div>
      
    </div>
    
    
    </ion-slide>
  
  </ion-slides>
  <div class="container">
    <div class="form-group">
      <input class="form-control shadow-none" type="text" mask="M0/00" #cardValidate (keyup)="cardChange(cardValidate.value)" [(ngModel)]="card.validate" placeholder="Validade do cartão" name="card-validate" id="card-validate"/>
    </div>
  </div>
 
</ion-content>

<ion-footer color="light" class="ion-no-border">
  
  
    <ion-toolbar color="light" class="form-group ion-text-center ion-no-border w-100">
      <div class="container">
        <button color="primary" class="ion-text-center btn btn-submit" routerLink="../card-step2"> 
          <ion-label>
            <ion-icon size="large" name="chevron-back-outline"></ion-icon>
          </ion-label>
        </button>
        <ion-text>Etapa 3 de 5</ion-text>
        <button color="primary" class="ion-text-center btn btn-submit" routerLink="../card-step4"> 
          <ion-label>
            <ion-icon size="large" name="chevron-forward-outline"></ion-icon>
          </ion-label>
        </button>
      </div>
    </ion-toolbar>
</ion-footer>
